@mixin border-radius($r) {
   -webkit-border-radius: $r;
   -moz-border-radius: $r;
   border-radius: $r;
}

@mixin box-shadow($x) {
   -webkit-box-shadow: $x;
   -moz-box-shadow: $x;
   box-shadow: $x;
}

@mixin lines($height, $line-color) {
   
   $top: -1px;
   background: #fff;
   background: -webkit-gradient(linear, 0 0, 0 100%, from($line-color), color-stop(4%, #fff)) 0 $top;
   background: -webkit-linear-gradient(top, $line-color 0%, #fff 8%) 0 $top;
   background: -moz-linear-gradient(top, $line-color 0%, #fff 8%) 0 $top;
   background: -ms-linear-gradient(top, $line-color 0%, #fff 8%) 0 $top;
   background: -o-linear-gradient(top, $line-color 0%, #fff 8%) 0 $top;
   background: linear-gradient(top, $line-color 0%, #fff 8%) 0 $top;

   -webkit-background-size: 100% $height;
   -moz-background-size: 100% $height;
   -ms-background-size: 100% $height;
   -o-background-size: 100% $height;
   background-size: 100% $height;

   &::after {
      content: '';
      position: absolute;
      width: 4px;
      top: 0;
      right: 1.5 * $height;
      bottom: 0;
      border: 1px solid;
      border-color: transparent rgba(red, 0.1);
   }
}